.earnings {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  padding: 22px 38px 30px;
  border-radius: 21px;
  background: linear-gradient(180deg, #151a37 0%, rgba(21, 26, 55, 0) 100%);

  &__heading {
    font-size: 18px;
    line-height: 100%;
    font-weight: 700;
  }

  &__details {
    display: flex;
    align-items: center;
    grid-gap: 30px;
    flex-wrap: wrap;
    grid-gap: 20px 30px;

    @media screen and (max-width: 1052px) {
      justify-content: space-between;
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;

    &-title {
      display: flex;
      align-items: center;
      grid-gap: 9px;
      font-size: 14px;
      line-height: 100%;
      font-weight: 500;
      color: var(--color-grey);
    }

    &-value {
      font-size: 21px;
      line-height: 100%;
      font-weight: 700;
    }
  }
}
