.history {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  grid-gap: 30px;

  &__title {
    font-size: 18px;
    line-height: 150%;
    font-weight: 700;
  }

  &__table {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;

    &-thead {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 100px;
      align-items: center;
      padding-left: clamp(10px, 2.441vw, 25px);
      padding-right:clamp(14px, 3.809vw, 39px);

      @media screen and (max-width: 767px) {
        grid-template-columns: 50px 70px 42px 1fr 1fr;
        grid-gap: 15px;

        .bonus {
          text-transform: capitalize;

          span {
            display: none;
          }
        }
      }
    }

    &-tbody {
      padding: clamp(15px, 1.855vw, 19px) clamp(16px, 3.809vw, 39px) 17px clamp(16px, 3.516vw, 36px) ;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 100px;
      align-items: center;
      background-color: var(--color-dark);
      border-radius: 21px;

      @media screen and (max-width: 767px) {
        grid-template-columns: 50px 70px 42px 1fr 1fr;
        grid-gap: 15px;
      }
    }

    &-head {
      font-size: clamp(12px, 1.823vw, 14px);
      line-height: 150%;
      color: var(--color-grey);
    }

    &-row {
      display: flex;
      align-items: center;
      grid-gap: 10px;
      font-size: clamp(12px, 1.823vw, 14px);
      line-height: 150%;

      .crypto__icon {
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }

    .status {
      justify-content: flex-end;
      text-align: right;

      svg {
        display: none;
      }

      @media screen and (max-width: 767px) {
        svg {
          display: flex;
        }

        span {
          display: none;
        }
      }
    }

    .data {
      @media screen and (max-width: 768px) {
        span {
          display: none;
        }
      }
    }

    .bonus {
      text-wrap: nowrap;
    }
  }
}








.history-table__header {
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr 1fr 38px;
  padding: 16px 15px
}

.history-table__body {
  display: grid;
  gap: 10px
}

.history-table__row {
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr 1fr 38px;
  align-items: center;
  border-radius: 10px;
  background: #151a37;
  padding: 16px 15px
}

.history-table__header-col {
  color: #999ec1;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal
}

.history-table__col {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal
}

.history-table__date span:first-child {
  display: none
}

.history-table__currency {
  display: flex;
  align-items: center
}

.history-table__currency img {
  display: none
}

.history-table__status {
  display: flex;
  justify-content: flex-end
}

.history-table__status span {
  display: none
}

.history-table__status img {
  width: 15px
}

@media (min-width:768px) {
  .history-table__header {
      grid-template-columns: 1fr 1fr 1fr 1fr 65px
  }

  .history-table__header-col {
      font-size: 14px
  }

  .history-table__header-col:first-child {
      padding-left: 10px
  }

  .history-table__header-col:last-child {
      text-align: right
  }

  .history-table__body {
      gap: 15px
  }

  .history-table__row {
      grid-template-columns: 1fr 1fr 1fr 1fr 65px;
      padding: 18px 15px
  }

  .history-table__col {
      font-size: 14px
  }

  .history-table__date span:first-child {
      display: block
  }

  .history-table__date span:last-child {
      display: none
  }

  .history-table__currency {
      gap: 10px
  }

  .history-table__currency img {
      display: block;
      width: 24px;
      height: auto
  }

  .history-table__status img {
      display: none
  }

  .history-table__status span {
      display: block
  }
}

@media (min-width:1200px) {
  .history-table__header {
      padding: 0 40px 10px
  }

  .history-table__body {
      gap: 10px
  }

  .history-table__row {
      padding-left: 40px;
      padding-right: 40px
  }
}
