.promo {
  position: relative;
  padding: 49px 44px 56px;
  background-color: var(--color-dark);
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
  }

  &__heading {
    font-size: 14px;
    line-height: 100%;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__title {
    font-size: 40px;
    line-height: 110%;
    font-weight: 800;

    span {
      color: var(--color-blue);
    }
  }
}
