.steps {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  grid-gap: 60px;

  @media screen and (max-width: 768px) {
    margin-bottom: clamp(80px, 13.021vw, 100px);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap: 15px 20px;

    @media screen and (max-width: 767px) {
      grid-template-columns: 100%;
    }

    &-item {
      padding: 38px clamp(25px, 2.083vw, 30px) clamp(25px, 3.819vw, 55px);
      display: flex;
      flex-direction: column;
      grid-gap: clamp(25px, 4.557vw, 35px);
      background-color: var(--color-dark-bg);
      border-radius: 21px;

      @media screen and (max-width: 767px) {
        padding-bottom: 55px;
      }
    }

    &-counter {
      font-size: 65px;
      font-weight: 800;
      line-height: 100%;
      color: var(--color-blue);
    }

    &-descr {
      font-weight: 700;
    }
  }
}



// .steps-section {
//   padding-top: 80px
// }

// .steps-section__title {
//   margin-bottom: 30px
// }

// .steps-section__list {
//   display: grid;
//   gap: 15px
// }

// .steps-section__item {
//   border-radius: 21px;
//   background: #1a2044;
//   padding: 30px 20px;
//   display: grid;
//   gap: 20px;
//   min-height: 190px;
// }

// .steps-section__item-number {
//   color: #2365fa;
//   font-size: 55px;
//   font-style: normal;
//   font-weight: 800;
//   line-height: 1;
// }

// .steps-section__item-text {
//   color: #fff;
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 700;
//   line-height: 1.2
// }



