<footer>
  <div class="container">
    <div class="footer">
      <div class="footer__links">
        <a class="footer__logo logo" href="/">
          <svg width='144' height='37'>
            <use href='img/sprite/sprite.svg#logo'></use>
          </svg>
        </a>

        <a class="footer__app" href="#">Decentralized <br> multi-chain app</a>
      </div>

			<ul class="footer__nav">
				<li><a href="#">Staking</a></li>
				<li><a href="#">Referral program</a></li>
				<li><a href="#">Privacy policy</a></li>
			</ul>

      <ul class="footer__socials">
        <li>
          <a href="#">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#telegram'></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#twitter'></use>
            </svg>
          </a>
        </li>
      </ul>

    </div>
</footer>

