<header>
  <div class="container">
    <div class="header">
			<a class="header__logo logo" href="/">
        <svg width='148' height='37'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
			</a>

			<ul class="header__menu">
				<li><a href="/">Home</a></li>
				<li><a href="#">Staking</a></li>
				<li><a href="#">Referral program</a></li>
				<li><a href="#">About service</a></li>
				<li><a href="#">FaQ</a></li>
			</ul>

      <div class="header__controls">
        <button class="header__btn">Launch app</button>

        <div class="burger">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <div class="mobile">
          <div class="mobile__menu"></div>
        </div>
      </div>
    </div>
  </div>
</header>
