.crypto {
  display: flex;
  align-items: center;
  grid-gap: 7px;

  &__icon {
    display: flex;
  }

  &__info {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__abbr {
    font-size: 18px;
    line-height: 100%;
    font-weight: 700;
  }

  &__title {
    font-size: 12px;
    line-height: 100%;
    color: var(--color-grey);
  }
}


