h1 {
  font-size: clamp(48px, 5.469vw, 56px);
  line-height: 140%;
  font-weight: 700;
  letter-spacing: clamp(0.48px, 0.055vw, 0.56px);
}

h2 {
  font-size: 32px;
  line-height: 140%;
  font-weight: 700;
  letter-spacing: 0.32px;
}

h3, .heading {
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
  letter-spacing: 0.24px;
}

h4 {
  font-size: 18px;
  line-height: 140%;
  font-weight: 700;
  letter-spacing: 0.18px;
}

h5 {
  font-size: 16px;
  line-height: 140%;
  font-weight: 700;
  letter-spacing: 0.16px;
}

h6 {
  font-size: 14px;
  line-height: 140%;
  font-weight: 700;
  letter-spacing: 0.14px;
}

