:root {
  /* -- Fonts --*/
  --font-family-beausans: "BT-BeauSans", sans-serif; // var(--font-family-beausans);

  /* -- Colors --*/
  --color-white: #fff; // var(--color-white);
  --color-black: #000; // var(--color-black);

  --primary: #0d1023; // var(--primary);

  --color-blue: #2365fa; // var(--color-blue);
  --color-grey: #999ec1; // var(--color-grey);
  --color-green: #23fa6c; // var(--color-green);
  --color-dark: #151A37; // var(--color-dark);
  --color-dark-bg: #1a2044; // var(--color-dark-bg);

  --border: #2d366c; // var(--border);
  --stroke-input: #191f42; // var(--stroke-input);








}








